extends layout

block content
    if error
        .alert.alert-danger #{error}
    else if location
        .row.banner.border-bottom.mb-2
            .col-12 
                h1 #{location.name}
        .row
            .col-12.col-lg-9
                .row
                    .col-12.col-md-6
                        p.rating
                            - for (var i = 0; i < 5; i++)
                                if i < location.rating
                                    i.fas.fa-star
                                else
                                    i.far.fa-star
                        p.address #{location.address}
                        
                        .card 
                            .card-body 
                                h2.card-title Opening hours
                                each time in location.openingTimes
                                    if time.closed
                                        p.card-text #{time.days}: Closed
                                    else
                                        p.card-text #{time.days}: #{time.opening} - #{time.closing}
                        
                        .card
                            .card-body 
                                h2.card-title Facilities
                                p.card-text
                                    each facility, i in location.facilities
                                        if i != 0
                                            |  
                                        span.badge.bg-warning #{facility}
                    
                    .col-12.col-md-6.mt-3
                        .card
                            .card-body
                                h2.card-title Location map
                                iframe.w-100(height='250', 
                                    src=`https://www.google.com/maps/embed/v1/view?key=AIzaSyCG_7fE9hp3i0g3HEqq90jy85LOcv3toOc&center=${location.coords.coordinates[1]},${location.coords.coordinates[0]}&zoom=17`
                                )

                .row
                    .col-12
                        .card
                            .card-body
                                .d-flex.justify-content-between.align-items-center
                                    h2.card-title Customer reviews
                                    a.btn.btn-primary(href=`/location/${location._id}/review/new`) Add review
                                
                                if location.reviews && location.reviews.length > 0
                                    each review in location.reviews
                                        .review.mb-3
                                            .review-header
                                                span.rating
                                                    - for (var i = 0; i < 5; i++)
                                                        if i < review.rating
                                                            i.fas.fa-star
                                                        else
                                                            i.far.fa-star
                                                span.ms-2 #{review.author}
                                                small.text-muted.ms-2 #{new Date(review.createdOn).toLocaleDateString('en-GB', { day: '2-digit', month: 'long', year: 'numeric' })}
                                            p #{review.reviewText}
                                else
                                    p.text-muted No reviews yet.
            .col-12.col-lg-3
                p.lead #{location.name} is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.
                p If you've been and you like it – or if you don't – please leave a review to help other people just like you.
